#name{
    color:red;
}
a{text-decoration: none; color: rgb(122, 240, 4);}

button{background-color:rgb(136, 57, 1); font-weight: 900; font-family:cursive;}
h1{color:rgba(255, 79, 9, 0.753); font-weight: 900;font-family:cursive;}
#ak,#ak2,#ak4,#a{color: rgb(23, 95, 190); font-weight: 900;font-family:cursive;}
#ak3{color: rgb(0, 132, 255); font-weight: 900;font-family:cursive;}
#pokemon{color:rgb(8, 248, 248);font-family:cursive;}
body{color:}

.ak{color: rgb(23, 95, 190); font-weight: 900;font-family:cursive;}
.ak1{color: rgb(1, 1, 2); font-weight: 900;font-family:cursive;}
.ak2{color: rgb(0, 110, 255); font-weight: 900;font-family:cursive;}
.team{color: rgb(1, 1, 2); font-weight: 900;font-family:cursive; font-size: xx-large; text-decoration: underline;}
.anshu{color: rgb(1, 1, 2); font-weight: 900;font-family:cursive;}












